.App {
  text-align: center;
}

/* header */

.Header {
  display: flex;
  background-color: #fdfbf9;
  justify-content: space-between;
  border: 2px solid black;
}

.Header h2 {
  padding-left: 20px;
  cursor: pointer;
}

.Header .signDiv {
  width: 40%;
  text-align: right;
  padding-right: 20px;
}

.signDiv button {
  height: 100%;
  width: 22%;
  border: none;
  background-color: #fdfbf9;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease;
  color: black;
  white-space: nowrap;
}

.signDiv button:hover {
  font-size: 18px;
}

/* signup 회원가입 */

.SignUp {
  width: 40%;
  height: 500px;
  background-color: #fdfbf9;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 20px;
}

.signBody {
  margin-top: 10%;
}

.signBody input {
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 15px;
}

.signBody .email_input {
  width: 55%;
}

.signBody .emailCheck_btn {
  width: 20%;
  margin-left: 5%;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(238, 170, 92);
  color: #fdfbf9;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 200ms ease;
  white-space: nowrap;
}

.signBody .emailCheck_btn:hover {
  background-color: chocolate;
}

.signBody .signUp_btn {
  background-color: azure;
  font-weight: bold;
  margin-top: 5%;
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 200ms ease;
}

.signBody .signUp_btn:hover {
  background-color: aliceblue;
}

.emailRegExp {
  color: rgb(224, 63, 10);
  font-weight: bold;
}

.emailRegExp p {
  padding: 0px;
  margin: 0px;
}

/* SignIn 로그인 */

.SignIn {
  width: 40%;
  height: 500px;
  background-color: #fdfbf9;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 20px;
}

.loginBody {
  margin-top: 10%;
}

.loginBody input {
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 15px;
}

.loginBody .login_btn {
  background-color: azure;
  font-weight: bold;
  margin-top: 5%;
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 200ms ease;
}

.loginBody .login_btn:hover {
  background-color: aliceblue;
}

/* Profile 내 정보 */

.MyPage {
  width: 45%;
  height: 300px;
  background-color: #fdfbf9;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 20px;
  display: flex;
}

.MyPage .profile_img_section {
  width: 40%;
}

.MyPage .profile_img_section img {
  width: 70%;
  height: 50%;
  border-radius: 50%;
  padding: 10%;
  margin-top: 15%;
}

.MyPage .profile_section {
  width: 60%;
  background-color: beige;
  text-align: left;
  padding: 25px;
  position: relative;
  border-radius: 15px;
}

.MyPage .profile_section input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
}

.MyPage .profile_section .nickname_span {
  font-weight: bold;
  font-size: x-large;
}

.MyPage .profile_section .email_span {
  font-size: large;
}

.MyPage .profile_section section {
  margin-top: 20px;
}

.MyPage .profile_section button {
  background-color: azure;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;

  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 200ms ease;
}

.MyPage .profile_section button:hover {
  background-color: aliceblue;
}

/* MainPost */

.MainPost {
  text-align: center;
  width: 65%;
  height: 600px;
  margin: auto;
  padding-left: 2%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  position: relative;
}

.MainPost .PostItem {
  width: 30%;
  height: 280px;
  margin: 1%;
  background-color: #fdfaf6;
  border: 2.5px solid black;
  border-radius: 15px;
  transition: all 250ms ease;
  cursor: pointer;
}

.MainPost .PostItem:hover {
  background-color: #f8f1e8;
}

.MainPost .PostItem .post_img {
  border-radius: 25px;
  width: 90%;
  height: 60%;
  margin: auto;
}

.MainPost .PostItem img {
  width: 80%;
  height: 90%;
  margin-top: 10%;
  border: 25px;
}

.MainPost .PostItem .post_content {
  text-align: left;
  padding: 6%;
  display: block;
}

.MainPost .PostItem .post_content h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.MainPost .PostItem .post_content .post_writer {
  font-weight: 500;
  font-size: small;
}

.MainPost .edit_post_section {
  position: fixed;
  right: 25px;
  bottom: 20px;
}

.MainPost .edit_post_section button {
  background-color: azure;
  font-weight: bold;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 200ms ease;
}

.MainPost .edit_post_section button:hover {
  background-color: aliceblue;
}

/* Post Detail */

.PostDetail {
  width: 45%;
  height: 700px;
  background-color: #fdfbf9;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 20px;
  position: relative;
}

.PostDetail .post_img_section {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.PostDetail .post_img_section img {
  width: 70%;
  height: 50%;
  border: 3px solid black;
}

.PostDetail .post_section {
  width: 82%;
  height: 35%;
  text-align: left;
  margin: auto;
  margin-top: 30px;
}

.post_span_section {
  width: 100%;
  padding: 0;
  display: flex;

  justify-content: space-between;
}

.PostDetail .post_section .postDetail_writer {
  font-size: medium;
}

.PostDetail .post_section .postDetail_content_section {
  margin-top: 5px;
  font-weight: bold;
  border-top: 3px solid black;
  padding: 20px;
  padding-left: 0px;
}

.PostDetail .post_section .postDetail_content_section .post_newContent {
  width: 103%;
  height: 150px;
  resize: none;
  font-weight: bold;
  font-size: large;
}

.PostDetail .post_btn_section {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 40%;
}

.PostDetail .post_btn_section button {
  width: 40%;
  background-color: rgb(197, 254, 254);
  font-weight: bold;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 200ms ease;
  color: #201f1ece;
}

.PostDetail .post_btn_section button:hover {
  transform: scale(1.1);
}

.PostDetail .post_btn_section .post_remove_btn {
  background-color: rgba(238, 121, 92, 0.945);
}

/* Post Editor */

.PostEditor {
  width: 40%;
  height: 700px;
  background-color: #fdfbf9;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 20px;
}

.PostEditor .title_input {
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 15px;
}

.PostEditor textarea {
  width: 80%;
  height: 70px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 15px;
  resize: none;
}

.PostEditor .share_btn_section {
  width: 40%;
  height: 70px;
  margin: auto;
  font-weight: bold;
  font-size: medium;
  justify-content: space-between;
  display: flex;
}

.PostEditor .img_preview {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.PostEditor .img_preview img {
  width: 100%;
  max-height: 240px;
}

.PostEditor .create_btn {
  background-color: azure;
  font-weight: bold;
  margin-top: 5%;
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 200ms ease;
}

.PostEditor .create_btn:hover {
  background-color: aliceblue;
}
